<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Products Edit</h3>
        <a th:href="@{/products}" class="btn btn-primary">Products</a>
    </div>

    <hr>

    <div class="card" style="max-width:400px;">
        <div class="card-header bg-primary text-white">
            Edit Post
        </div>
        <div class="card-body">
            <form th:action="@{/products/{id}/update(id=${product.id})}" th:object="${product}" method="post">
                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                    <ul class="mb-0">
                        <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
                    </ul>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Product name">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" th:field="*{price}" placeholder="Product price">
                </div>
                <div>
                    <input type="submit" class="btn btn-primary w-100" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>